setuptools == 49.6.0
scikit-learn == 0.22.2
pandas >= 1.1.1
requests
slackclient == 2.1.0
slackeventsapi == 2.1.0
nltk == 3.4.5
NLPyPort == 2.2.5
spacy
gensim
joblib
num2words
Whoosh
Keras
tensorflow
cufflinks
matplotlib
seaborn
imblearn